<div class="mx-auto">
    Rooms Catalog:
    <ol class="list-group">
        <li *ngFor="let room of rooms; trackBy: roomTrackByFunction" class="list-group-item">
            <button class="btn btn-outline-primary" (click)="enterRoom(room.roomNo)">Enter</button>
            Room #{{ room.roomNo }} 
            <span *ngIf="room.roomOwner" class="roomOwnerInfo">Owner: {{ room.roomOwner.name }}</span>
            <span *ngIf="!room.roomOwner" style="float: right;">Empty Room</span>
        </li>
    </ol>
    <br><br>
</div>
